<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>website_entrenamos.uy</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>controladores.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>controladores.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Home</servlet-name>
		<servlet-class>controladores.Home</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AltaActividad</servlet-name>
		<servlet-class>controladores.AltaActividad</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AltaActividad</servlet-name>
		<url-pattern>/altaActividad</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ConsultaActividad</servlet-name>
		<servlet-class>controladores.ConsultaActividad</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConsultaActividad</servlet-name>
		<url-pattern>/consultaActividad</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ConsultaInstitucion</servlet-name>
		<servlet-class>controladores.ConsultaInstitucion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConsultaInstitucion</servlet-name>
		<url-pattern>/consultaInstitucion</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ConsultaCategoria</servlet-name>
		<servlet-class>controladores.ConsultaCategoria</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConsultaCategoria</servlet-name>
		<url-pattern>/consultaCategoria</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ConsultaClase</servlet-name>
		<servlet-class>controladores.ConsultaClase</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConsultaClase</servlet-name>
		<url-pattern>/consultaClase</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegistroAClase</servlet-name>
		<servlet-class>controladores.RegistroAClase</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistroAClase</servlet-name>
		<url-pattern>/registroAClase</url-pattern>
	</servlet-mapping>
	<servlet>
        <servlet-name>Busqueda</servlet-name>
        <servlet-class>controladores.Busqueda</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Busqueda</servlet-name>
        <url-pattern>/busqueda</url-pattern>
    </servlet-mapping>
    <servlet>
		<servlet-name>AltaClase</servlet-name>
		<servlet-class>controladores.AltaClase</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AltaClase</servlet-name>
		<url-pattern>/altaClase</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ConsultaCuponera</servlet-name>
		<servlet-class>controladores.ConsultaCuponera</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConsultaCuponera</servlet-name>
		<url-pattern>/consultaCuponera</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
</web-app>
