<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>websitemovil_entrenamos.uy</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>controladores.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>controladores.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Home</servlet-name>
		<servlet-class>controladores.Home</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ConsultaActividad</servlet-name>
		<servlet-class>controladores.ConsultaActividad</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConsultaActividad</servlet-name>
		<url-pattern>/consultaActividad</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListarActividades</servlet-name>
		<servlet-class>controladores.ListarActividades</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListarActividades</servlet-name>
		<url-pattern>/listarActividades</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListarClases</servlet-name>
		<servlet-class>controladores.ListarClases</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListarClases</servlet-name>
		<url-pattern>/listarClases</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ConsultaInstitucion</servlet-name>
		<servlet-class>controladores.ConsultaInstitucion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConsultaInstitucion</servlet-name>
		<url-pattern>/consultaInstitucion</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ConsultaCategoria</servlet-name>
		<servlet-class>controladores.ConsultaCategoria</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConsultaCategoria</servlet-name>
		<url-pattern>/consultaCategoria</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ConsultaClase</servlet-name>
		<servlet-class>controladores.ConsultaClase</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConsultaClase</servlet-name>
		<url-pattern>/consultaClase</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ConsultaCuponera</servlet-name>
		<servlet-class>controladores.ConsultaCuponera</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConsultaCuponera</servlet-name>
		<url-pattern>/consultaCuponera</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Categorias</servlet-name>
		<servlet-class>controladores.Categorias</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Instituciones</servlet-name>
		<servlet-class>controladores.Instituciones</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Imagenes</servlet-name>
		<servlet-class>controladores.Imagenes</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Imagenes</servlet-name>
		<url-pattern>/imagenes</url-pattern>
	</servlet-mapping>
	
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<error-page>
    	<!-- Uncaught exception -->
    	<error-code>500</error-code>
    	<location>/WEB-INF/errorpages/500.jsp</location>
	</error-page>
	<error-page>
    	<!-- Missing resource -->
    	<error-code>404</error-code>
    	<location>/WEB-INF/errorpages/404.jsp</location>
	</error-page>
</web-app>
